<h1>SPEDIZIONI</h1>
<div class="check-element animate-show-hide" *ngIf="searchState">
    <input type="text" [(ngModel)]="meme.ricerca.ricerca" placeholder="codice">
    <button (click)="searchCriteria()">Cerca</button>
    <button (click)="aggiungi()">Aggiungi</button>
</div>
<br><br><br>
<div class="check-element " *ngIf="aggiungiState || modificaState || visualizzaState">
    <h1>Form Dati</h1>
    <input type="text" (click)="disabilitaCod()" [readonly]="disabilitaCampi" [(ngModel)]="meme.temp.codice"
        placeholder="codice">
    <input type="text" [readonly]="disabilitaCampi" [(ngModel)]="meme.temp.nome" placeholder="nome">
    <input type="number" [readonly]="disabilitaCampi" [(ngModel)]="meme.temp.prezzoKg" placeholder="prezzoKg">
    <button (click)="conferma()" [hidden]="nascondiButton">Conferma</button>
    <button (click)="annulla()" [hidden]="nascondiButton">Annulla</button>
    <p [hidden]="msgSpedizioneNulla">Digitare una spedizione valida</p>
</div>
<br><br><br>
<div *ngIf="tabellaState">
    <table *ngIf="meme.spedizioni.length > 0">
        <tr>
            <th style="display:none;">ID</th>
            <th>Codice</th>
            <th>Nome</th>
            <th>PrezzoKg</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let x of meme.spedizioni; index as i" class="clickable">
            <td style="display:none;">{{x.id}}</td>
            <td (click)="visualizzaDettagliSped(x, i)">{{x.codice}}</td>
            <td (click)="visualizzaDettagliSped(x, i)">{{x.nome}}</td>
            <td (click)="visualizzaDettagliSped(x, i)">{{x.prezzoKg}}€</td>
            <td><button (click)="modifica(x, i)">Modifica</button></td>
            <td><button (click)="rimuovi(x, i)">Rimuovi</button></td>
        </tr>
    </table>
    <h3 *ngIf="meme.spedizioni.length == 0">Nessun record trovato</h3>
</div>