<h1>SPEDIZIONI</h1>
<input type="text" [(ngModel)]="meme.spedizione.codice" placeholder="Codice">
<!--<input type="text" [(ngModel)]="meme.spedizione.nome" placeholder="Nome">
<input type="text" [(ngModel)]="meme.spedizione.prezzoKg" placeholder="PrezzoKg"> -->
<button (click)="searchCriteria()">Cerca</button>
<button (click)="aggiungi()">Aggiungi</button>
<br>
<div *ngIf="aggiungiState || modificaState">
    <h1>Form Dati</h1>
    <input type="text" [(ngModel)]="meme.qualcosa" placeholder="codice">
    <input type="text" [(ngModel)]="meme.qualcosa" placeholder="nome">
    <input type="text" [(ngModel)]="meme.qualcosa" placeholder="prezzoKg">
    <button (click)="conferma()">Conferma</button>
    <button (click)="annulla()">Annulla</button>
</div>
<br>
<table>
    <tr>
        <th>Codice</th>
        <th>Nome</th>
        <th>PrezzoKg</th>
    </tr>
    <tr *ngFor="let x of y; index as i">
        <td>{{x.codice}}</td>
        <td>{{x.nome}}</td>
        <td>{{x.prezzoKg}}</td>
        <td><button( click)="modifica(x,i)">Modifica</button></td>
        <td><button (click)="rimuovi(x,i)">Rimuovi</button></td>
    </tr>
</table>