<h1>CATEGORIA</h1>
<br>
<div class="check-element animate-show-hide" *ngIf="searchState">
    <input type="text" [(ngModel)]="mem.ricerca.ricerca" placeholder="categoria">
    <button (click)="searchCriteria()">Cerca</button>
</div>
<br>
<h3 *ngIf="selezionaStato">Prodotto selezionato: {{item.descrizione}}</h3>

<table *ngIf="srvProdotto.listaProdotti.length > 0">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Peso</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let item of srvProdotto.listaProdotti ">
            <td (click)="visualizza(item) ">{{item.codice}}</td>
            <td (click)="visualizza(item) ">{{item.descrizione}}</td>
            <td (click)="visualizza(item) ">{{item.peso}}</td>
            <td (click)="visualizza(item) ">{{item.prezzo}}</td>
            <td><button (click)="seleziona(item) ">Seleziona</button></td>
        </tr>
    </tbody>
</table>
<h3 *ngIf="srvProdotto.listaProdotti.length === 0">Nessun prodotto disponibile</h3>
<br>
<h3>Categoria da associare</h3>
<table *ngIf="associativa">
    <thead>
        <tr>
            <th>Prodotto selezionato</th>
            <th>Descrizione categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of mem.categorie; index as i">
            <td>{{cat.descrizione}}</td>
            <td><button [hidden]="nascondiButton" (click)="associa(cat)"></button></td>
        </tr>
    </tbody>
</table>