<h1>ASSOCIA CATEGORIA</h1>
<br>
<div class="check-element animate-show-hide" *ngIf="searchState">
    <input type="text" [(ngModel)]="memcat.ricerca.ricerca" placeholder="Cerca prodotto">
    <button (click)="cercaProdotto()">Cerca</button>
</div>
<br>
<h3 *ngIf="associaStato">Prodotto selezionato:{{memcat.prodottoSelezionato.codice}} - {{memcat.prodottoSelezionato.descrizione}}</h3>

<table *ngIf="srvProdotto.listaProdotti.length > 0">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Peso</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let item of srvProdotto.listaProdotti ">
            <td>{{item.codice}}</td>
            <td>{{item.descrizione}}</td>
            <td>{{item.peso}}</td>
            <td>{{item.prezzo}}</td>
            <td><button (click)="seleziona(item)">Seleziona</button></td>
        </tr>
    </tbody>
</table>
<h3 *ngIf="srvProdotto.listaProdotti.length === 0">Nessun prodotto disponibile</h3>
<br>
<h3>Categoria da associare</h3>
<table *ngIf="associativa">
    <thead>
        <tr>
            <th>Descrizione categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of memcat.categorie; index as i">
            <td>{{cat.descrizione}}</td>
            <td><button [hidden]="nascondiButton" (click)="associa(cat, srvProdotto.prodottoForm.descrizione)"></button></td>
        </tr>
    </tbody>
</table>