server/src/main/resources/application.properties
.DS_Store
.DS_Store
server/nbactions.xml
server/src/main/resources/application.properties
server/src/main/resources/application.properties
*.properties
