<h1>Gestione Anagrafe Prodotti</h1>
<div>
    <span *ngIf="state == 'ricerca'">
        <input type="text" [(ngModel)]="ricerca.ricerca" placeholder="Ricerca">
        <button (click)="cercaProdotto()">Cerca</button>
        <button (click)="nuovo()">Aggiungi</button>
    </span>
    <span *ngIf="state != 'ricerca'">
        <input type="text" [(ngModel)]="ricerca.ricerca" disabled>
        <button (click)="srvProdotto.cerca()" disabled>Cerca</button>
        <button (click)="nuovo()" disabled>Aggiungi</button>
    </span>
</div>
<div *ngIf="state == 'ricerca'"></div>
<div *ngIf="state == 'visualizza'">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.codice" readonly>
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.descrizione" readonly>
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.peso" readonly>
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.prezzo" readonly>
    <button (click)="chiudi()">Annulla</button>
</div>
<div *ngIf="state == 'elimina'">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.codice" readonly>
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.descrizione" readonly>
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.peso" readonly>
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.prezzo" readonly>
    <button (click)="state=srvProdotto.conferma(state)">Conferma</button>
    <button (click)="chiudi()">Annulla</button>
</div>
<div *ngIf="state == 'aggiungi'">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.codice" placeholder="codice">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.descrizione" placeholder="descrizione">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.peso" placeholder="peso">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.prezzo" placeholder="prezzo">
    <button (click)="state=srvProdotto.conferma(state)">Conferma</button>
    <button (click)="chiudi()">Annulla</button>
</div>
<div *ngIf="state == 'modifica'">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.codice" placeholder="codice">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.descrizione" placeholder="descrizione">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.peso" placeholder="peso">
    <input type="text" [(ngModel)]="srvProdotto.prodottoForm.prezzo" placeholder="prezzo">
    <button (click)="state=srvProdotto.conferma(state)">Conferma</button>
    <button (click)="chiudi()">Annulla</button>
</div>
<div>
    <table *ngIf="state == 'ricerca' && srvProdotto.listaProdotti.length > 0">
        <thead>
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Peso</th>
                <th>Prezzo</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let item of srvProdotto.listaProdotti ">
                <td (click)="visualizza(item) ">{{item.codice}}</td>
                <td (click)="visualizza(item) ">{{item.descrizione}}</td>
                <td (click)="visualizza(item) ">{{item.peso}}</td>
                <td (click)="visualizza(item) ">{{item.prezzo}}</td>
                <td><button (click)="chiediModifica(item) ">Modifica</button></td>
                <td><button (click)="chiediElimina(item) ">Rimuovi</button></td>
            </tr>
        </tbody>
    </table>
    <h3 *ngIf="srvProdotto.listaProdotti.length === 0">Nessun record trovato!</h3>
</div>