<body>
    <h1>TAGLIA</h1>
    <br>
    <span *ngIf="state =='ricerca'">
        <h2>Inserire i parametri di ricerca:</h2>
        <input type="text" [(ngModel)]="memT.ricerca.ricerca">
        <button class="pointer" (click)="findTaglia()">Cerca</button>&nbsp;
        <button class="pointer" id="aggiungi" (click)="addTaglia()">Aggiungi</button>
    </span>
    <span *ngIf="state !='ricerca'">
        <input type="text" [(ngModel)]="memT.taglia.sigla"
            placeholder="taglia" hidden>
        <button class="pointer" (click)="findTaglia()" hidden>Cerca</button>&nbsp;
        <button class="pointer" id="aggiungi" (click)="addTaglia()" hidden>Aggiungi</button>
    </span>
    <span *ngIf="state =='aggiungi'">
        <div class="box">
            <h3>Form dati</h3>
            <br>
            <input type="text" [(ngModel)]="memT.tagliaMod.taglia.descrizione"
                placeholder="descrizione">
            <input type="text" [(ngModel)]="memT.tagliaMod.taglia.sigla"
                placeholder="sigla">
            <br>
            <h2 class="colortext">{{msg}}</h2>
            <br>
            <button class="pointer" id="conferma" (click)="conferma()">Conferma</button>&nbsp;
            <button class="pointer" id="annulla" (click)="chiudi()">Annulla</button>
            <br>
            <br>
        </div>
    </span>
    <div *ngIf="state == 'modifica'" class="box">
        <br>
        nuova descrizione: <input type="text"
            [(ngModel)]="memT.tagliaMod.taglia.descrizione"
            placeholder="descrizione">
        nuova sigla: <input type="text"
            [(ngModel)]="memT.tagliaMod.taglia.sigla"
            placeholder="sigla">&nbsp;
        <br>
        <h2 class="colortext">{{msg}}</h2>
        <br>
        <button class="pointer" (click)="conferma()">Conferma modifica</button>&nbsp;
        <button class="pointer" (click)="chiudi()">Annulla</button>
        <br>
        <br>
    </div>
    <div *ngIf="state == 'delete'" class="box">
        <h2>Eliminare {{memT.tagliaMod.taglia.descrizione}}?</h2>
        <button class="pointer" (click)="removeTaglia(memT.tagliaMod.id)">Conferma</button>
        <button class="pointer" (click)="chiudi()">Annulla</button>
        <br>
        <br>
    </div>
    <br>
    <br>
    <div *ngIf="state2 =='visualizza'" class="box">
        <table>
            <h3>Form dati</h3>
            <tr>
                <th>Descrizione:</th>
                <th>Sigla:</th>
            </tr>
            <tr>
                <td>
                    {{memT.tagliaVis.descrizione}}
                </td>
                <td>
                    {{memT.tagliaVis.sigla}}
                </td>
            </tr>
        </table>
        <br>
    </div>
    <br>
    <br>
    <table *ngIf="state != 'aggiungi' && state != 'modifica' && state !=
        'delete'">
        <tr>
            <th>Descrizione</th>
            <th>Sigla</th>
            <th>Modifica</th>
            <th>Rimuovi</th>
        </tr>
        <tr *ngFor="let i of memT.taglie; index as x">
            <td class="pointer" (click)="visualizza(i, x)">{{i.descrizione}}</td>
            <td class="pointer" (click)="visualizza(i, x)">{{i.sigla}}</td>
            <td><button class="pointer" (click)="updateTaglia(i, x)">Modifica</button></td>
            <td><button class="pointer" (click)="canRemove(i, x)">Rimuovi</button></td>
        </tr>
    </table>
</body>