html, body{height:100%;}
.clickable{
    cursor:pointer;
}
table{
    border-collapse: collapse;
    width:100%;
}
th,td{
    border-bottom: 1px solid #ddd;
    text-align:center;
}
tr:hover {
    background-color: #f5f5f5;
}
.pointer {
    cursor: pointer;
  }