<h1>Associa IMBALLO</h1>
<input type="text" [(ngModel)]="ricerca.ricerca" placeholder="Ricerca">
<button (click)="cercaProdotto()">Cerca</button>
<h2>prodotto selezionato: {{mem.associaImballoDto.prodotto.descrizione}}</h2>
<table>
    <thead>
        <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th>Peso</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of srvProdotto.listaProdotti; index as x">
            <td>{{item.codice}}</td>
            <td>{{item.descrizione}}</td>
            <td>{{item.peso}}</td>
            <td>{{item.prezzo}}</td>
            <td><button (click)="seleziona(item)">SELEZIONA</button></td>
        </tr>
    </tbody>
</table>
<span *ngIf="state == true">
    <h2>Imballo da associare:</h2>
    <table>
        <tr>
            <th>Descrizione</th>
            <th>Costo</th>
            <th>Associa</th>
        </tr>
        <tr *ngFor="let i of mem.imballi; index as x">
            <td>{{i.descrizione}}</td>
            <td>{{i.costo}}</td>
            <td *ngIf="mem.associaImballoDto.prodotto.imballo == null ||
                mem.associaImballoDto.prodotto.imballo.descrizione != i.descrizione;
                else changeButton">
                <button class="pointer" (click)="associaImballo(i, x)">Associa</button></td>
                <ng-template #changeButton>
                    <td><button class="pointer" (click)="dissociaImballo()">Dissocia</button></td>
                </ng-template>
        </tr>
    </table>
</span>