<body>
    <h1>Associa IMBALLO</h1>
    <br>
    <span *ngIf="state =='ricerca'">
        <h2>Inserire i parametri di ricerca:</h2>
        <input type="text"
            [(ngModel)]="mem.ricerca.ricerca"
            placeholder="imballo">
        &nbsp;
        <button class="pointer" (click)="cercaProdotto()">Cerca</button>
    </span>
    <span>
        <table *ngIf="state == 'ricerca' && srvProdotto.listaProdotti.length>
            0">
            <thead>
                <tr>
                    <th>Codice</th>
                    <th>Descrizione</th>
                    <th>Peso</th>
                    <th>Prezzo</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of srvProdotto.listaProdotti">
                    <td (click)="visualizza(item)">{{item.codice}}</td>
                    <td (click)="visualizza(item)">{{item.descrizione}}</td>
                    <td (click)="visualizza(item)">{{item.peso}}</td>
                    <td (click)="visualizza(item)">{{item.prezzo}}</td>
                    <td><button (click)="chiediModifica(item)">Modifica</button></td>
                    <td><button (click)="chiediElimina(item)">Rimuovi</button></td>
                </tr>
            </tbody>
        </table>
    </span>
</body>