
<h1>IMBALLO</h1>
<br>
<h2>inserisci i dati:</h2>
<input type="text" [(ngModule)]="descrizione" placeholder="imballo">
<input type="text" [(ngModule)]="cost" placeholder="imballo">
<button (click)="findImballo()">Cerca</button>
<button (click)="addImballo()" >Aggiungi</button>

<br>

<div  >
    <h3>Form dati</h3>
    <br>    
    <button (click)="conferma()">Conferma</button>
    <button (click)="annulla()">Annulla</button>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Descrizione</th>
        <th>Cost</th>
    </tr>
    <tr *ngFor="let i of srvImballo.imballi">
        <td>{{i.id}}</td>
        <td>{{i.descrizione}}</td>
        <td>{{i.cost}}</td>
    </tr>
</table>