<body>
    <h1>IMBALLO</h1>
    <br>
    <h2>Inserire i dati di ricerca:</h2>
    <span *ngIf="state =='ricerca'">
    <input type="text" [(ngModel)]="mem.ricerca.ricerca">&nbsp;
    <button class="pointer" (click)="findImballo()">Cerca</button>&nbsp;
    <button class="pointer" id="aggiungi" (click)="addImballo()">Aggiungi</button>
</span>
    <span *ngIf="state !='ricerca'">
    <input type="text" [(ngModel)]="mem.ricerca.ricerca" placeholder="imballo"
        disabled>
</span>
    <br>
    <br>
    <br>
    <span *ngIf="state =='aggiungi'">
    <div>
        <h3>Form dati</h3>
        <input type="text" [(ngModel)]="mem.imballoMod.descrizione"
            placeholder="descrizione">
        <input type="number" [(ngModel)]="mem.imballoMod.costo"
            placeholder="costo">
        <br>
        <button class="pointer" id="conferma" (click)="confirm()">Conferma</button>
        <button class="pointer" id="annulla" (click)="close()">Annulla</button>
    </div>
</span>
    <div *ngIf="state == 'modifica'">
        nuova descrizione:<input type="text" [(ngModel)]="mem.imballoMod.descrizione" placeholder="descrizione"> nuovo costo:<input type="number" [(ngModel)]="mem.imballoMod.costo" placeholder="costo">&nbsp;
        <button class="pointer" (click)="confirm()">Conferma modifica</button>
        <button class="pointer" (click)="close()">Annulla</button>
    </div>
    <div *ngIf="state == 'delete'">
        <h2>elimina?</h2>
        <button class="pointer" (click)="removeImballo(mem.imballoMod.id)">Conferma</button>
        <button class="pointer" (click)="close()">Annulla</button>
    </div>
    <div *ngIf="state2 == 'visualizza'">
        <h3>Form dati</h3>
        <table>
            <tr>
                <th>Descrizione</th>
                <th>Costo</th>
            </tr>
            <tr>
                <td>
                    {{mem.imballoVis.descrizione}}
                </td>
                <td>
                    {{mem.imballoVis.costo}}
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <th>Descrizione</th>
            <th>Costo</th>
            <th>Modifica</th>
            <th>Rimuovi</th>
        </tr>
        <tr *ngFor="let i of mem.imballi; index as x">
            <td class="pointer" (click)="view(i, x)">{{i.descrizione}}</td>
            <td class="pointer" (click)="view(i, x)">{{i.costo}}</td>
            <td><button class="pointer" (click)="updateImballo(i, x)">Modifica</button>&nbsp;</td>
            <td><button class="pointer" (click)="canRemove(i, x)">Rimuovi</button></td>
        </tr>
    </table>

</body>