<h1> Associa Offerte</h1>
<div>
    <span>
        <input type="text" [(ngModel)]="ricerca.ricerca" placeholder="Ricerca">
        <button (click)="cercaProdotto()">Cerca</button>
    </span>
</div>
<h3 *ngIf="state == 'ricerca'">Prodotti da selezionare: </h3>
<h3 *ngIf="state == 'seleziona'">Prodotto Selezionato {{prodotto.codice}} - {{prodotto.descrizione}}</h3>
<div>
    <table *ngIf="srvProdotto.listaProdotti.length > 0">
        <thead>
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Peso</th>
                <th>Prezzo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prodotto of srvProdotto.listaProdotti">
                <td>{{prodotto.codice}}</td>
                <td>{{prodotto.descrizione}}</td>
                <td>{{prodotto.peso}}</td>
                <td>{{prodotto.prezzo}}</td>
                <td><button (click)="selezionaProdotto(prodotto)">Seleziona</button></td>
            </tr>
        </tbody>
    </table>
    <h3 *ngIf="srvProdotto.listaProdotti.length === 0">Nessun record trovato</h3>
</div>
<br>
<div *ngIf="state == 'seleziona'">
    <h3>Offerta da associare</h3>
    <table>
        <thead>
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Sconto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offertaDaSelezionare of srvOfferta.listaOfferte">
                <td>{{offertaDaSelezionare.codice}}</td>
                <td>{{offertaDaSelezionare.descrizione}}</td>
                <td>{{offertaDaSelezionare.scontoPercentuale}}</td>
                <td *ngIf="prodotto.offerta == null || prodotto.offerta.id != offertaDaSelezionare.id; else other_content"><button (click)="chiediAssociazione(offertaDaSelezionare, prodotto)">Associa</button></td>
                <ng-template #other_content>
                    <td><button (click)="chiediAssociazione(offertaDaSelezionare, prodotto)" disabled>Associa</button></td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>