<h1> Associa Offerte</h1>
<div>
    <span>
        <input type="text" [(ngModel)]="ricerca.ricerca" placeholder="Ricerca">
        <button (click)="cercaProdotto()">Cerca</button>
    </span>
</div>
<h3 *ngIf="state == 'ricerca'">Prodotti da selezionare : </h3>
<h3 *ngIf="state == 'seleziona'">Prodotto Selezionato {{prodottoSelezionato.descrizione}} - {{prodottoSelezionato.descrizione}}</h3>
<div>
    <table *ngIf="srvAssOff.listaDeiProdotti.length > 0">
        <thead>
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Peso</th>
                <th>Prezzo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prodottoSelezionato of srvAssOff.listaDeiProdotti">
                <td>{{prodottoSelezionato.codice}}</td>
                <td>{{prodottoSelezionato.descrizione}}</td>
                <td>{{prodottoSelezionato.peso}}</td>
                <td>{{prodottoSelezionato.prezzo}}</td>
                <td><button (click)="selezionaProdotto(prodottoSelezionato)">Seleziona</button></td>
            </tr>
        </tbody>
    </table>
    <h3 *ngIf="srvAssOff.listaDeiProdotti.length === 0">Nessun record trovato</h3>
</div>
<br>
<div *ngIf="state == 'seleziona'">
    <h3>Offerta da associare</h3>
    <table>
        <thead>
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Sconto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of srvAssOff.listaDelleOfferte">
                <td>{{item.codice}}</td>
                <td>{{item.descrizione}}</td>
                <td>{{item.scontoPercentuale}}</td>
                <td><button (click)= "chiediAssociazione(item , prodottoSelezionato)">Associa</button></td>
            </tr>
        </tbody>
    </table>
</div>