<h1> Gestione anagrafe Offerte</h1>
<div>
    <span *ngIf="state =='ricerca'">
        <!---->
        <input type="text" [(ngModel)]="offerta.codice" placeholder="Codice">
        <input type="text" [(ngModel)]="offerta.descrizione" placeholder="Descrizione">
        <input type="text" [(ngModel)]="offerta.scontoPercentuale" placeholder="Sconto percentuale">
        <button (click)="srvOfferta.cerca(offerta)">Cerca</button>
        <button (click)="nuovo()">Aggiungi</button>
    </span>
    <span *ngIf="state !='ricerca'">
        <input type="text" [(ngModel)]="offerta.codice" placeholder="Codice" disabled>
        <input type="text" [(ngModel)]="offerta.descrizione" placeholder="Descrizione" disabled>
        <input type="text" [(ngModel)]="offerta.scontoPercentuale" placeholder="Sconto percentuale" disabled>
        <button (click)="srvOfferta.cerca()" disabled>Cerca</button>
        <button (click)="nuovo()" disabled>Aggiungi</button>
    </span>
</div>
<div *ngIf="state == 'ricerca'"></div>
<div *ngIf="state == 'visualizza'">
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.codice" readonly>
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.descrizione" readonly>
    <input type="number" [(ngModel)]="srvOfferta.offertaForm.scontoPercentuale" readonly>
    <button (click)="state = srvOfferta.conferma(state)" disabled>Conferma</button>
    <button (click)="chiudi()">Chiudi</button>
</div>
<div *ngIf="state == 'elimina'">
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.codice" readonly>
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.descrizione" readonly>
    <input type="number" [(ngModel)]="srvOfferta.offertaForm.scontoPercentuale" readonly>
    <button (click)="state = srvOfferta.conferma(state)">Conferma</button>
    <button (click)="chiudi()">Annulla</button>
</div>
<div *ngIf="state == 'aggiungi'">
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.codice">
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.descrizione">
    <input type="number" [(ngModel)]="srvOfferta.offertaForm.scontoPercentuale">
    <button (click)="state = srvOfferta.conferma(state)">Conferma</button>
    <button (click)="chiudi()">Annulla</button>
</div>
<div *ngIf="state == 'modifica'">
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.codice">
    <input type="text" [(ngModel)]="srvOfferta.offertaForm.descrizione">
    <input type="numbe" [(ngModel)]="srvOfferta.offertaForm.scontoPercentuale">
    <button (click)="state = srvOfferta.conferma(state)">Conferma</button>
    <button (click)="chiudi()">Annulla</button>
</div>


<div>
    <table>
        <thead>
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Sconto</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of srvOfferta.listaOfferte">
                <td (click)="visualizza(item)">{{item.codice}}</td>
                <td (click)="visualizza(item)">{{item.descrizione}}</td>
                <td (click)="visualizza(item)">{{item.scontoPercentuale}}</td>
                <td><button (click)="chiediModifica(item)">Modifica</button></td>
                <td><button (click)="chiediElimina(item)">Rimuovi</button></td>
            </tr>
        </tbody>
    </table>
</div>