<h1>CATEGORIA</h1>
<br>
<input type="text" [(ngModel)]="mem.categoria.descrizione" placeholder="categoria">
<button (click)="searchCriteria()">Cerca</button>
<button (click)="aggiungi()">Aggiungi</button>

<br><br><br>

<div class="check-element animate-show-hide" *ngIf="aggiungiState || modificaState">
    <h3>Form dati</h3>
    <input type="text" [(ngModel)]="mem.categoria.descrizione || categTemp.descrizione" placeholder="descrizione">
    <button (click)="conferma()">Conferma</button>
    <button (click)="annulla()">Annulla</button>
</div>

<br><br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Descrizione</th>
    </tr>
    <tr *ngFor="let c of mem.categorie; index as i">
        <td>{{c.id}}</td>
        <td>{{c.descrizione}}</td>
        <td><button (click)="modifica(c,i)">Modifica</button></td>
        <td><button (click)="rimuovi(c.id)">Rimuovi</button></td>
    </tr>
</table>
