<h1>CATEGORIA</h1>
<br>
<input type="text" [(ngModel)]="descrizione" placeholder="categoria">
<button (click)="searchCriteria()">Cerca</button>
<button (click)="aggiungi()">Aggiungi</button>

<br><br><br>

<div class="check-element animate-show-hide" *ngIf="aggiungiState">
    <h3>Form dati</h3>
    <input type="text" [(ngModel)]="descrizione" placeholder="descrizione">
    <button (click)="aggiungi()">Conferma</button>
    <button (click)="annulla()">Annulla</button>
</div>
<br><br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Descrizione</th>
    </tr>
    <!-- <tr *ngFor="let c of categorie">
        <td>{{c.id}}</td>
        <td>{{c.descrizione}}</td>
    </tr> -->
</table>
